# CRYPTO_SERVICE test .env

### Last Change YYYY-MM-DD_HH:MM (in PST)
ENV_VERSION = "2020-12-11_11:36"

BASE_PUBLIC_KEY = "..."
BASE_PRIVATE_KEY = '...'

ROLLBAR_POST_WRITE_SERVER_KEY = "..."
SEGMENT_WRITE_KEY = "..."
